<section class="testimonials-section">
  <div class="section-header">
    <span class="subtitle">TESTIMONIALS</span>
    <h2>What Our Adventurers Say</h2>
    <div class="underline"></div>
  </div>

  <div class="testimonials-carousel">
    <p-carousel
      [value]="testimonials"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="4000"
      [showNavigators]="false"
      [showIndicators]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-testimonial pTemplate="item">
        <div class="testimonial-card">
          <div class="quote-icon">
            <i class="pi pi-quote-right"></i>
          </div>
          <p class="comment">{{ testimonial.comment }}</p>
          <div class="rating">
            <p-rating
              [ngModel]="testimonial.rating"
              [readonly]="true"
              [stars]="5"
            ></p-rating>
          </div>
          <div class="profile">
            <img
              [src]="testimonial.image"
              [alt]="testimonial.name"
              class="profile-img"
            />
            <div class="info">
              <h3>{{ testimonial.name }}</h3>
              <span class="location">
                <i class="pi pi-map-marker"></i>
                {{ testimonial.location }}
              </span>
            </div>
          </div>
          <div class="tour-type">
            <span class="badge">{{ testimonial.tourType }}</span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
