<section class="promo-section">
  <video #videoPlayer autoplay loop [muted]="isMuted">
    <source src="assets/promo/promo.mp4" type="video/mp4" />
  </video>
  <div class="background-overlay"></div>
  <!-- طبقة خلفية داكنة -->
  <div class="content">
    <h2>Experience the Adventure</h2>
    <p>Discover the beauty of Safari with us</p>
    <button pButton label="Explore More" class="p-button-rounded"></button>
    <!-- زر ميوت -->
    <button (click)="toggleMute()" class="mute-btn">
      <i class="pi" [ngClass]="{'pi-volume-off': isMuted, 'pi-volume-up': !isMuted}"></i>
    </button>
  </div>
</section>