/* You can add global styles to this file, and also import other style files */

@import "primeflex/primeflex.scss";
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

body,
p,
span {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
